footer{
    background: var(--color-primary);
    padding: 0.5rem;
    font-size: 0.5rem;
    margin-top: 5rem;
    display: flex;
    /* z-index: 2; */
    /* position: fixed; */
}
.footer_logo{
    font-size: 1.2rem;
    font-weight: bold;
    /* margin-left: 1rem; */
    display: inline-block;
}
footer a{
    color: var(--color-bg);
    font-size: 1rem;
}
.footer_socials{
    display: flex;
    justify-content: center !important;
    gap: 1rem;
    margin: auto;
    /* text-align: center; */
}


.footer_socials a{
    color: var(--color-bg);
    display: flex;
}
.footer_socials a:hover{
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-bg);
}
.footer_copyrights{
    /* margin-right: 0.5rem; */
    color: var(--color-bg);
    font-size: 1rem;
    text-align: end;
} 
/************************* MEDIA QUERIES (MEDIUM DEVICES ********************   */

@media screen and (min-width: 1024px) {
    footer{
        padding-left: 9.5rem;
        padding-right: 9.5rem;
    }
    .footer_socials{
        margin-left: 37%;
    }

}

/************************* MEDIA QUERIES (SMALL DEVICES0 ********************   */

@media screen and (max-width: 768px) {
    footer{
        width: 100% !important;
    }
    .footer_socials{
        /* margin-left: 32%; */
    }


}
/************************* MEDIA QUERIES (SMALL DEVICES0 ********************   */

@media screen and (max-width: 425px) {
    footer{
        width: 100% !important;
        
    }
    .footer_copyrights{
        font-size: 0.7rem;
        margin-top: 0.5rem;
    }
    .footer_socials{
        position: relative;
        left: 5%;
    }
}
/************************* MEDIA QUERIES (SMALL DEVICES0 ********************   */

@media screen and (max-width: 320px) {
    footer{
        width: 100% !important;
    }
    .footer_copyrights{
        font-size: 0.65rem;
        margin-left: auto;
    }
    .footer_socials{
        display: none;
        /* position: relative;
        right: 50%; */
    }

}